.card{
    min-width:  176px;
}
.preview{
    position: relative;
}
.preview .stockState{
    position: absolute;
    left: 20px;
    top: 20px;
    background: #FFFFFF;
    border-radius: 2px;
    font-size: 10.24px;
    text-align: center;
    color: #222222;
}


.description{
    display: flex;
}