.header {
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 30px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid {
  padding: 33px 14%;
}
